<button type="button" class="button ml-4 mb-4"> <%= link_to 'New', new_author_path %></button>
<div class="text-center">
  <h2>Your Authors</h2>
</div>

 <div class="row justify-content-between">
     <% @authors.each do |author| %>
     <% @books.each do |book| %>
      <div class="card">
        <ul>
        <li class="">Name:</li>
        <li class=""><%= author.name %></li>
        <li class=""><%= render 'author', author: author %></li>
        <li>Book title: <%= book.title %></li>
        <li>Genre: <%= book.genre %></li>
          <li><%= link_to 'Find more', author %></li>
        </ul>
     </div>
    <% end %>
    <% end %>
</div>

