<div class="container text-left">
  <h1><%= @author.name %></h1>
      <div class="justify-content-center text-left ml-4">
        <div class="form">
          <%= render 'form', book: @book %>
          <%= link_to authors_path, method: :delete, data: { confirm: "Are you sure?" } do %>
          <ul class="text-success"><i class="fa fa-trash"></i></ul>
          <% end %>
        </div>
        <div class="button">
          <%= link_to "Add book", new_book_path %>
        </div>
    </div>
</div>

  <%= @books.title %>

  <div class="button ml-4">
    <%= link_to 'Back', authors_path %>
  </div>
