<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
<!--     <img src="https://cdn4.iconfinder.com/data/icons/library-and-bookstore/500/SingleCartoonLibraryAndBookstoreYulia_8-512.png" /> -->
<li class="navbar-brand">
          <%= link_to "Boostore", root_path, class: "nav-link" %>
        </li>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
         <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
      <li class="nav-item active">
          <%= link_to "independent Authors", authors_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Dashboard", author_dashboard_index_path(:author_id), class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://is5-ssl.mzstatic.com/image/thumb/Purple71/v4/f1/cc/d3/f1ccd3b0-550b-0cd7-5eb6-6681c96791be/source/256x256bb.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Create Book", author_books_path(:author_id), class: "dropdown-item" %>
            <%= link_to "Create Author", new_author_path, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
</div>
  </div>
</div>


