_new.html.erb
<h1>Add book info</h1>
<%= simple_form_for[author, book] do |f| %>
  <%= f.input :title %>
  <%= f.input :genre %>
  <%= f.input :cover %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
