
<h1>Books page</h1>

<%= simple_form_for :search, url: root_path, method: "GET", html: { class: 'form-inline' } do |f| %>
  <%= f.input :name, input_html: {value: ""} %>
  <%= f.submit "Search", class: "btn btn-primary" %>
<% end %>

<div class="container">
  <div class="row justify-content-center text-left mt-3 mb-3">
    <div class="book">
      <h1><%= @title %></h1>
        <p><%= @kind %></p>
        <h2><%= @author %></h2>
        <p><%= @description %></p>
        <ul>
          <li><%= @publisher %></li>
          <li><%= @date %></li>
          <li><%= @type %></li>
          <li><%= @rating %></li>
          <li><%= @image %></li>
          <li><%= @language %></li>
          <li><%= @preview %></li>
        </ul>
    </div>
  </div>
</div>
