<!DOCTYPE html>
<html>
  <head>
    <title>TheBookstore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

    <%= render 'shared/navbar' %>
        <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://collegeinfogeek.com/wp-content/uploads/2018/11/Essential-Books.jpg);">
  <div class="container">
    <h1>The bookstore <strong>all books</strong> to <strong>creative people</strong>!</h1>
    <p>“Take a good book to bed with you—books do not snore.” .</p>
    <a class="btn btn-flat" href="#">Check now</a>
  </div>
  </div>
    <%= render 'shared/flashes' %>
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>

  </body>
</html>
